name: Build and Publish

on:
  push:

jobs:
  build:
    uses: ./.github/workflows/build.yml
    secrets: inherit

  publish:
    needs: build
    if: ${{ github.ref == 'refs/heads/master' }}
    uses: ./.github/workflows/publish.yml
    secrets: inherit
